{{define "css"}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/css/datepicker-bs4.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <style>
        .my-footer {
            height: 5em;
            background-color: #163b65;
            margin-top: 1.5em;
            padding: 1em;
            color: white;
            font-size: 80%;
        }

        .room-image {
            max-width: 50%;
        }

        .notie-container {
            box-shadow: none;
        }

        .datepicker {
            z-index: 10000;
        }
    </style>
{{end}}